/* Body */
  .search-box:has(input:focus) {
    color:#000;
     .search-btn svg {
      height: 13px;
    }
  
    .search-input::placeholder {
      font-size: 13px;
      div{
        background-attachment: fixed;
      }
    }
  
    .search-input {
      border: 2px inset rgba(0, 0, 0, 0.397);
    }
  }
  
  .search-box input::placeholder {
    color: rgb(230, 228, 228);
    padding-top: 1px;
  }
  
  input {
    border: none;
  }

  