/* Loading */
body {
    height: calc(100vh - 1px);
    background-color: #212121fd;
    margin: 0;
    /* font-family: "myFont", var(--bod-font); */
  }
  
  @font-face {
    font-family: "myFont";
    src: url("suckle.otf");
    /* src: url("../../museo-cufonfonts/Museo300-Regular.otf"); */
  }
  /* Loading */
  .loader {
    position: absolute;
    left: 50%;
  }
  