body{
	color:var(--bod-color);
	overflow:hidden;
	display:flex;
	flex-direction:column;
	height:calc(100vh - 1px);
	background-color:#212121fd;
	margin:0;
	/* font-family:"myFont", var(--bod-font) */
	font-family:var(--bod-font);
}
@font-face{
	font-family:"myFont";
	src:url("suckle.otf");
	/* src:url("../../museo-cufonfonts/Museo300-Regular.otf") */
}
.PPfocus{
	background-color:grey;
}
.search-hl{
	background-color:rgba(135, 130, 130, 0.231);
	background:rgba(255, 255, 255, 0.2)  ;
}
:root{
	--bod:none;
	--bod-color:#edebeb;
	--bod-font:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	--control:#1a1a1a;
	--tab-active:#3e3e3e;
	--seek-thumb:#41af3e;
	--active-link:rgb(16, 31, 3);
	--build1js-fav-fil:rgb(200 108 113);
	--overlayer-bg:#020202ba;
	--svg-fill:rgb(211, 209, 209);
}
*{
	margin:0;
	text-overflow:ellipsis;
	white-space:nowrap;
	user-select:none;
	outline:none;
}
/* middle  */
	button:not(.ri){
	background-color:rgba(0, 0, 0, 0);
	border:none;
}
button:not(.ri):hover{
	/* background-color:rgba(248, 217, 217, 0.205) */
	background-color:rgb(248 217 217 / 10%);
}
.btn-mousedown{
	border:1px solid grey;
	font-size:15px;
}
.btn-mouseup{
	border:none;
	font-size:15px;
}
.auto-height{
	height:auto;
}
.scroll-height{
	height:400px;
}
.main-body-side-bar-box{
	display:flex;
	flex:1;
	overflow:hidden;
}
.loader{
	position:absolute;
	left:50%;
	top:50%;
	width:80px;
	height:80px;
	margin:-76px 0 0 -76px;
	border:10px #fffcfc3d solid;
	border-radius:50%;
	border-top:10px solid rgb(38, 243, 38);
}
@-webkit-keyframes spin{
	0%{
	-webkit-transform:rotate(0deg);
}
100%{
	-webkit-transform:rotate(360deg);
}

}
@keyframes spin{
	0%{
	transform:rotate(0deg);
}
100%{
	transform:rotate(360deg);
}

}
.adding-songs{
	background-color:rgba(0, 0, 0, 0.87);
	background-size:cover;
	height:100%;
	position:relative;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:3;
}
.adding-songs .dialog{
	position:relative;
	padding:7px 0;
	background-color:rgba(150, 148, 148, 0.233);
	width:100%;
}
.box{
	height:200px;
	width:410px;
	border-radius:5px;
	background-color:rgba(39, 39, 39, 0.897);
	display:flex;
	flex-flow:column;
}
.box h2{
	margin-top:auto;
}
.amount{
	margin:5px 0 8px 0;
}
.box h2,  .amount{
	align-self:flex-start;
	margin-left:20px;
}
.pb-bg{
	background-color:rgba(224, 222, 222, 0.171);
	width:90%;
	align-self:center;
	border-radius:8px;
}
.pb{
	background-color:rgb(38, 243, 38);
	width:25%;
	height:10px;
	border-radius:8px;
}
.file-name{
	margin:5px 0 10px 0;
	overflow:hidden;
	padding:0 6px;
}
.side-bar{
	height:100%;
	width:48px;
	display:flex;
	padding-bottom:10px;
	/* align-items:center */
	flex-direction:column;
	background-color:rgba(1, 17, 6, 0.048);
	border-right:1px solid rgba(0, 0, 0, 0.164);
}
.side-bar::-webkit-scrollbar{
	background-color:#34343429;
}
.SB-user-details-box{
	display:none;
	width:100%;
	flex-direction:column;
	padding:4%;
	align-items:center;
	justify-content:center;
}
.SB-profile-pic{
	border-radius:50%;
	margin-bottom:10px;
	display:flex;
	/* flex-direction:column */
	justify-content:center;
	align-items:center;
	/* overflow:hidden */
	background-size:cover;
}
.SB-profile-pic div{
	position:relative;
	width:8px;
	height:8px;
	border-radius:100%;
	background-color:#1df504;
	left:30%;
	bottom:42%;
	/* z-index:1000002244 */
}
.SB-profile-pic img{
	position:relative;
}
.User-id{
	margin-top:auto;
}
.SB-btn{
	/* display:none */
}
.SB-btn p{
	width:0%;
	opacity:0;
}
.side-bar svg{
	fill:rgb(211, 209, 209);
	margin:auto;
	width:20px;
	height:20px;
}
.SB-btn:hover{
	background-color:rgb(209 244 223 / 9%);
	/* background-color:rgb(217 248 229 / 21%) */
	/* background-color:rgba(248, 217, 217, 0.205) */
	cursor:pointer;
}
.SB-btn.SB-settings-btn{
	margin:auto auto 0;
	/* margin-top:5px */
	/* position:fixed */
	/* bottom:100px */
	/* background:grey */
	/* width:48px */
}
.SB-btn.SB-menu-btn{
	margin-bottom:50px;
	width:48px;
	margin-right:auto;
	/* background:red */
}
.SB-btn.SB-recent-btn svg{
	width:25px;
	height:24px;
}
.SB-settings-svg{
	margin:auto auto 0;
	/* width:30px */
}
.strip{
	height:100%;
	width:4px;
	background-color:#2ecc71;
}
.downloading-case{
	padding-left:5px;
	margin-right:1px;
	padding-bottom:5px;
	display:none;
	/* background-color:rgba(90, 88, 88, 0.233) */
	/* border:1px solid grey */
}
.DC-header{
	display:flex;
	background:#1a1a1a;
	height:37px;
	align-items:center;
	padding-left:20px;
}
.DC-header button{
	margin:0 10px 0 auto;
	width:25.594px;
	height:26px;
	border-radius:50%;
	/* border:1px solid grey !important */
	display:flex;
	align-items:center;
	justify-content:center;
}
.DC-header button svg{
	width:14px;
	height:14px;
	transform:rotate(90deg);
}
.downloading-items{
	/* height:300px */
	overflow:hidden scroll;
	display:flex;
	flex-direction:column;
	gap:5px;
	background-color:rgb(40 40 40);
	padding-left:2px;
}
.downloading-items::-webkit-scrollbar{
	width:7px;
	background-color:#34343463;
}
.download-item{
	display:flex;
	align-items:center;
	background-color:rgb(175 175 175 / 8%);
	/* border:1px solid grey */
	/* justify-content:center */
	gap:5px;
	padding:5px 4px;
	font-size:13px;
	height:60px;
	border-radius:5px;
}
.DI-second{
	display:flex;
	flex-direction:column;
	width:100%;
}
.download-item .img-case{
	height:40px;
	width:45px;
	background-color:#2ecc71;
}
.download-item .progess-case{
	width:100%;
	display:flex;
	gap:4px;
	align-items:center;
}
.download-item .progess-case progress{
	width:calc(100% - 25px);
	/* Button at the side */
}
.download-item button{
	/* background-color:rebeccapurple */
	display:flex;
	/* height:30px */
	width:22px;
	height:22px;
	border-radius:50%;
}
.download-item button svg{
	width:13px;
	height:13px;
	margin:auto;
}
.first-tab{
	display:flex;
	width:100%;
	height:100%;
	background-color:#34343491;
	border-radius:15px;
	flex-direction:column;
	overflow:hidden;
}
.banner{
	height:max-content;
	margin-bottom:20px;
	display:flex;
	align-items:center;
}
.brand{
	font-size:40px;
	padding:15px;
	color:rgb(181 181 181);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	padding-bottom:0;
}
.nav-bar a{
	font-size:16px;
	border-radius:2px;
	padding:6px 8px;
	position:relative;
	letter-spacing:1px;
}
.nav-bar div{
	padding-left:14px;
}
.nav-bar{
	position:absolute;
	top:30px;
	right:300px;
}
.profile-box{
	position:absolute;
	top:8px;
	padding:2px;
	border-radius:10px;
	background-color:rgb(255 255 255 / 10%);
	right:20px;
	width:220px;
}
.profile-pic{
	width:30px;
	border-radius:40%;
}
.profile-box button{
	position:relative;
	bottom:8px;
	left:5px;
}
.profile-box p{
	position:relative;
	bottom:8px;
	left:5px;
}
.settings-btn{
	margin-right:18px;
}
.search-box{
	width:31%;
	margin-left:auto;
	margin-right:5%;
}
.filter-btn-td{
	background-color:#524e4e80;
	border-radius:8px 0 0 8px;
}
.search-box table{
	width:100%;
}
.search-box table tr{
	width:100%;
}
